{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="about_div">
    <div class="inner_about_div">
        <div>
            <img src="{% static 'images/veda.jpg' %}" alt="veda.jpg" class="about_main_img">
        </div>
        <p style="font-size:1.5vw;">Indian Vedic Foundation is a non-profit organization established in 2008 to share traditional
        yajnas, spiritual wisdom, social welfare and the secrets of vedic science with the world.</p>
        <p style="font-size:1.5vw;">It is also registered under the Society Act 21, 1860, U.P., India.</p>
        <div>
            <img src="{% static 'images/veda3.jpg' %}" alt="veda3.jpg" class="card_img2"
                 style="float:right;">
            <p>The state of things in this country for the past 100 years or so is such that the
            Vedas are being brought to the notice of the people of this country, the land of the Vedas,
            through the published works of Western Orientalists. While we should acknowledge with gratitude
            the invaluable contributions made by these research-scholars of the West in classifying, printing
            and preserving the Vedas, so far as we in India are concerned, the primary purpose the Vedas,
            namely to memorise and recite correctly, with proper accents, or adhyayana, cannot be served by
            these publications. The Vedas printed and preserved in libraries will (in the absence of regular
            study and recitation) eventually acquire only a museum value, and the future generations reading
            these published works may marvel at the wonderful things contained in them. </p>
        </div>
        <div>
            <img src="{% static 'images/veda2.jpg' %}" alt="veda2.jpg" class="card_img2"
                 style="float:left;">
            <p>The Vedas are intended to serve a different purpose. They have to be learnt by heart,
            understanding the correct way of pronouncing the mantras by listening to the rendering of the mantras by the
            guru (teacher). The Veda mantras so learnt should become the guide in our daily life, in our
            Karmaanushtaana, Tapas, Isvara aaradhana, etc. If, in India, the Vedas retain their original
            vitality even today, it is because these hyms are being continuously repeated by students and
            teachers of the Vedas, and the purity of the sounds and accents of the words are retained in
            that process. It is only by practising the Vedic injunctions that we can obtain the grace of
            God, both for our individual welfare and for the welfare of the whole world.</p>
        </div>
        <div>
            <img src="{% static 'images/veda1.jpg' %}" alt="veda1.jpg" class="card_img2"
                 style="float:right;">
            <p>That is why the
            mere preservation of the Vedas in well-bound volumes cannot secure us the benefits for which
            they are intended. In fact the Vedas are never intended to be written down and read. Veda
            Adhyayana implied hearing from the lips of the teacher and repeating after him. That is why in
            ancient Tamil classics, the Vedas are referred to as Ezhutaakkilavi , unwritten book. Veda
            Paatakaas, who learn from books, are included among the six classes of inferior scholars. The
            other five classes are those who recite the Vedas musically, those who recite very fast, those
            who shake their heads while reciting, those who do not know the meaning, and those who have a
            poor voice.</p>
        </div>
        <p style="margin-bottom:0;">That is why we are trying to bring to light, the benefits of using the vedic mantras to
            lighten up your life and find solutions to your problems through the laws of astro-physics.
            We perform yajnas, mantras, etc for people who would want to heal themselves and their life
            through ancient Indian spiritualism.</p>
    </div>
</div>
{% endblock %}