<!DOCTYPE html>
<html lang="en">
{% load static %}
	<head>
		<title>Astrology and Life Solutions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
		<link href="http://fonts.googleapis.com/css?family=Pacifico&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Raleway&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Acme&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/faq.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/aboutus.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/contactus.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/yajna.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/charts.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/cowshelter.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/casino.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/donate.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/rudraksh.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css/services.css' %}" type="text/css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
	<body>
        <div onclick="topFunction()" id="myBtn" title="Go to top">
            <img src="{% static 'images/top2.jpg' %}" alt="Top" style="height:40px;width:40px;">
        </div>
        <div class="container-div">
            <div class="base-header" style="text-align: center;">
                <div class="heading_div">Indian Vedic Foundation</div>
                <div class="subheading_div">Astrology Center</div>
                <nav class="navbar navbar-expand-lg navbar-dark navigation-nav" id="navig">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav w-100 justify-content-around">
                            <li class="nav-item">
                                <b><a class="nav-link" href="{% url 'index' %}">Home</a></b>
                            </li>
                            <li class="nav-item">
                                <b><a class="nav-link" href="{% url 'rudraksh' %}">Rudraksh Dharana</a></b>
                            </li>
                            <li class="nav-item">
                                <b><a class="nav-link" href="{% url 'yajna' %}">Request Yajna/Puja</a></b>
                            </li>
                            <li class="nav-item">
                                <b><a class="nav-link" href="{% url 'charts' %}">Planetary Issues</a></b>
                            </li>
                            <li class="nav-item">
                                <b><a class="nav-link" href="{% url 'cowshelter' %}">Cow Shelter</a></b>
                            </li>
                            <li class="nav-item">
                                <b><a class="nav-link" href="{% url 'services' %}">Our Services</a></b>
                            </li>
                            <li class="nav-item">
                                <b><a class="nav-link" href="#">Live Yajnas</a></b>
                            </li>
                            <li class="nav-item">
                                <b><a class="nav-link" href="{% url 'donate' %}">Donate</a></b>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="main_body_div">
                {% block content %}
                {% endblock %}
            </div>
            <div class="footer_div">
                <div style="text-align:center;padding:30px 0;">
                    <a  class="btn btn-outline-light" href="{% url 'index' %}">Home</a>
                    <a  class="btn btn-outline-light" href="{% url 'donate' %}">Donate</a>
                    <a  class="btn btn-outline-light" href="{% url 'donate' %}">Login | Sign Up</a>
                    <a  class="btn btn-outline-light" href="{% url 'about' %}">About Us</a>
                    <a  class="btn btn-outline-light" href="{% url 'contact' %}">Contact Us</a>
                </div>
                <div class="footer_text">
                    <a href="{% url 'yajna' %}" class="btn btn-outline-info">Request Yajna/Puja</a>
                    <a href="{% url 'services' %}" class="btn btn-outline-warning">Services</a>
                    <a href="{% url 'faq' %}" class="btn btn-outline-primary">FAQ</a>
                    <a href="{% url 'contact' %}" class="btn btn-outline-danger">Other Consultation</a>
                </div>
                <div class="text-muted footer_text"><a href="mailto:info@indianvedicfoundation.com">info@indianvedicfoundation.com</a></div>
                <div class="text-muted footer_text disclaimer">
                    <div>Disclaimer: These predictions are astrological only, based on planetary conditions.</div>
                    <div>It is only a guideline, the decision has to be taken after logical thinking
                        by you.</div>
                    <div>Neither Indian Vedic Foundation nor Astrologer or any team member is
                        liable for any personal or financial losses or profits.</div>
                </div>
                <div class="text-muted footer_text">&copy;2016 All Rights Reserved</div>
            </div>
        </div>
    <script>
        // When the user scrolls down 500px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
    </script>
	</body>
</html>