{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="contact_div">
        <div  class="card card_div shadow shadow" style="width:22rem;margin: 0 auto 40px auto;">
            <div class="image-card-div">
                <img src="{% static 'images/office.png' %}" alt="office2.jpg" class="card-img-top card_img">
            </div>
            <div class="card-body card_body_div" style="font-weight:normal;">
                <h1>Head Office</h1>
                <div>Plot No:- 39, Alimco Housing Society,</div>
                <div>Vinayakpur, Kanpur, U.P., INDIA. Pin Code 208024</div>
            </div>
        </div>
    <div class="flex_div">

        <div class="card card_div shadow shadow">
            <div class="image-card-div"><img src="{% static 'images/call.png' %}" alt="call.png" class="card-img-top card_img"></div>
            <div class="card-body card_body_div">
                <div>Call Us @</div>
                <div>+91 9450340432</div>
            </div>
        </div>
        <div  class="card card_div shadow shadow">
            <div class="image-card-div"><img src="{% static 'images/mail.png' %}" alt="mail.png" class="card-img-top card_img"></div>
            <div class="card-body card_body_div">
                <p><a href="mailto:info@indianvedicfoundation.com">info@indianvedicfoundation.com</a></p>
            </div>
        </div>
        <div  class="card card_div shadow shadow">
            <div class="image-card-div"><img src="{% static 'images/gmail.png' %}" alt="gmail.png"
                                             class="card-img-top card_img"></div>
            <div class="card-body card_body_div">
                <p><a href="mailto:ivfastro@gmail.com">ivfastro@gmail.com</a></p>
            </div>
        </div>

    </div>
</div>
{% endblock %}