{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="faq_div">
    <div class="container">
        <div class="question_div">
            <h3 class="faq_heading">What is Yajna?</h3>
            <p>Yajna is chanting of specific Vedic Mantras sound) by trained and dedicated Vedic pandits. The pandits may make offerings
                of flowers, ghee, camphor and other things, depending on the type of yajna.</p>
        </div>
        <div class="question_div">
            <h3 class="faq_heading">Are there any other names for Yajnas?</h3>
            <p>Yajna are also called yagya. Yagya is a north Indian term while Yajna is a south Indian word.</p>
        </div>
        <div class="question_div">
            <h3 class="faq_heading">What are the duration of the Yajna?</h3>
            <p>A planetary Yajna may be performed at two levels. At "A" level ,the mantras repeated 140,000 times and "B" level the
                mantras are repeated 51,000 times., One pandit can, at the most, repeat the planetary mantras 11,000 times each day.
                Our pandits usually repeat a planetary mantras 3500 times in a day.</p>
        </div>
        <div class="question_div">
            <h3 class="faq_heading">How many times and when do we need to the planetary Yajna?</h3>
            <p>We can perform Yajna whenever we need them . When a graph (planet) change its position in the zodiac ,i.e. when it moves
                from one sign to another is a perfect time to perform a Yajna. When a new planetary period is entered is also a good time to
                do a yagya. Sometimes a planet is in a difficult place in the planet chart. These planets are usually offered a yagya twice a
                year, about 6 months apart.</p>
        </div>
        <div class="question_div">
            <h3 class="faq_heading">When will i get an answer to my E-mail?</h3>
            <p>I answer e-mail in morning and evening, If you have not received any answer with in 36 hours, please resend your e-mail to me.</p>
        </div>
        <div class="question_div">
            <h3 class="faq_heading">How do I request a Yajna?</h3>
            <p>Send your deposit of $251 to us through our <a href="#">Account, Demand Draft and Cheques</a>. After Payments clarification will look at
                your chart and recommend a Yajna according to your need.</p>
        </div>
        <div class="question_div">
            <h3 class="faq_heading">How is a Havan performed?</h3>
            <p>A JAP is performed by the pandits for 125,000 times . This JAP consist of the chanting of mantras on the count of 108 beads
                of a necklace. This JAP is followed by a HAVAN which is performed for 10% as a JAP , Havan is followed by a Tarpan
                being performed for 1250 times which is the dashans of Havan. Tarpan is the process of offering JAL to the planets. Then
                Margin is performed for 125 times which is the dashans of Tarpan. Margin is the processing which the effect of the mantras
                are entered into the body and life of the Yajna (clients).</p>
        </div>
        <div class="question_div">
            <h3 class="faq_heading">What if I know what Yajna I want?</h3>
            <p>We still need your birth information for making a chart. Then Pandits who chants your yagya will use the chart to connect
                with you. In the puja that begins the yagya each day the pandit ji mention your name, rising sign, nakshatra, and the
                current ocher (current transiting planetary position).</p>
        </div>
        <div class="question_div">
            <h3 class="faq_heading">As the recommended date is January 1 to do the Yajna, when must I confirm this with payment? Can it be 24 hours before
                January 1 ?</h3>
            <p>I prefer to give them 48 hours notice. We get a lot of request for last minute yajnas. Sometimes the pandits are
                able to accommodate these results, other times, a different auspicious start time must be determined.</p>
        </div>
    </div>
</div>
{% endblock %}