{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="about_div">
<div class="container">
    <div class="">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="{% static 'images/c4.jpg' %}" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'images/c3.jpg' %}" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'images/c2.jpg' %}" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'images/c1.jpg' %}" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron fluid-jumbotron mg_bt_0 flex_div justify-content-center index_container">
        <div class="shadow card_div grid_item">
            <div class="card_content">
                <div class="center_text grid_header">Personally Answered by your Astrologer</div>
                <img src="{% static 'images/kundali.png' %}" alt="" class="kundali_img">
                <ul class="astro_list justified">
                    <li>Gaining of wealth, property & finance</li>
                    <li>Maintaining good health and happiness</li>
                    <li>Safe, successful & comfortable journey</li>
                    <li>Faster recovery from chronic diseases</li>
                    <li>Harmony and stability in married life</li>
                    <li>Victory over the enemies</li>
                    <li>Well-being of the whole family Support in finding a job</li>
                    <li>Success to find a suitable life business partner</li>
                    <li>Winning of favour in a court case</li>
                    <li>Success in examination with high marks</li>
                    <li>Blessings of the spiritual master & Ishta devata</li>
                    <li>Owning good vehicles</li>
                    <li>More profits in business & removal of obstacles</li>
                </ul>
            </div>
            <div class="button_div"><a href="#" class="btn btn-success">ORDER NOW</a></div>
        </div>
        <div class="grid_item shadow card_div">
            <div class="card_content">
                <div class="center_text grid_header">Planets &amp; their Stones</div>
                <img src="{% static 'images/kundali2.png' %}" alt="" class="kundali_img">
                <div class="table-responsive">
                <table class="table table-hover table-bordered" align="center">
                <thead class="table_head">
                    <tr>
                        <td>Planets</td>
                        <td>Gem Stone</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sun (Surya)</td>
                        <td>Ruby (Manik)</td>
                    </tr>
                    <tr>
                        <td>Moon (Chandra)</td>
                        <td>White Pearl (Moti)</td>
                    </tr>
                    <tr>
                        <td>Mars (Mangal)</td>
                        <td>Red Coral (Moonga)</td>
                    </tr>
                    <tr>
                        <td>Mercury (Budha)</td>
                        <td>Emerald (Panna)</td>
                    </tr>
                    <tr>
                        <td>Jupiter (Guru)</td>
                        <td>Yellow Sapphire (Pukhraj)</td>
                    </tr>
                    <tr>
                        <td>Venus (Shukra)</td>
                        <td>Diamond (Heera)</td>
                    </tr>
                    <tr>
                        <td>Saturn (Shani)</td>
                        <td>Blue Sapphire (Neelam)</td>
                    </tr>
                    <tr>
                        <td>Rahu</td>
                        <td>Gomedha</td>
                    </tr>
                    <tr>
                        <td>Ketu</td>
                        <td>Cat's Eye (Lahusunia)</td>
                    </tr>
            </table>
                </div>
            </div>
            <div class="button_div"><a href="#" class="btn btn-success">KNOW YOUR STONE</a></div>
        </div>
        <div class="grid_item shadow card_div">
            <div class="card_content">
                <div class="center_text grid_header">What is a Yajna?</div>
                <img src="{% static 'images/kundali3.png' %}" alt="" class="kundali_img">
                <p class="justified">Yajna is a Vedic ritual, performed to appease the God. Yajna is very useful
                    in making the life more progressive. It also improves the quality of life.
                    It is performed to invoke gods and favors to express joy and seek their blessings
                    and smooth the progress of important achievements in life. Yajna is performed by
                    Vedic pandits (Priests) intending to work with karmas in the horoscope.</p>
                <p class="justified">Yajnas have no side effects rather they help in getting rid of impurities in the
                    surroundings and purifying the atmosphere and diffuses negative energies.
                    Devotee's name, his/her problems/knowledge is required for performing Yajna.
                    Devotees can convey their righteous desires to the priest and Vedic scholars
                    who pass the problem to the Almighty through the chanting of Mantras related to
                    problems. The Yajnas are performed on behalf of the devotees.</p>
            </div>
            <div class="button_div"><a href="#" class="btn btn-success">REQUEST YAJNA</a></div>
        </div>
        <div class="grid_item shadow card_div">
            <div class="card_content">
                <div class="center_text grid_header">Rudraksha Dharanam</div>
                <img src="{% static 'images/kundali4.png' %}" alt="" class="kundali_img">
                <div class="justified">The Rudraksha bead may have one or several faces and each one confers
                    specific benefits. Ancient text reveals the beads of Rudraksha have immense
                    amazing powers. These beads are said to be a gift from the Almighty to his children.
                    Know and order your Rudraksha today, to improve your life quality.
                </div>
            </div>
            <div class="button_div"><a href="#" class="btn btn-success">FIND YOURS</a></div>
        </div>
        <div class="grid_item shadow card_div">
            <div class="card_content">
                <div class="center_text grid_header">COW SHELTER</div>
                <img src="{% static 'images/kundali5.png' %}" alt="" class="kundali_img">
                <div class="justified">A Cowpen (Gaushala) is situated in Kanpur at Itahara
                    farm where the cows of Sahiwal are being reared under a protected environment.
                    The aim of preservation of the cows is to give better shelter and save the
                    reared variety of cow Sahiwal and give them a natural vedic atmosphere under
                    the mission of Indian Vedic Foundation.
                </div>
            </div>
            <div class="button_div"><a href="#" class="btn btn-success">DONATE NOW</a></div>
        </div>
        <div class="grid_item shadow card_div">
            <div class="card_content">
                <div class="center_text grid_header">Other Consultations</div>
                <img src="{% static 'images/swastik.png' %}" alt="" class="kundali_img">
                <div class="justified">For any other issues and solutions that you are seeking to your problems, you
                     can ask us a question directly. Know what is upsetting you and your life with our
                     help and avail our services for the lowest possible cost.
                </div>
            </div>
            <div class="button_div"><a href="#" class="btn btn-success">CONTACT NOW</a></div>
        </div>
    </div>
    <div class="jumbotron fluid-jumbotron grid_item about_index2">
        <h1 class="center_text heading_div">About Us</h1>
        <p class="justified lead">Indian Vedic Foundation is a non-profit organization established in 2008
            to share traditional yajnas, spiritual wisdom, social welfare and the secrets of vedic
            science with the world. It is also registered under the Society Act 21, 1860, U.P.,
            India.</p>
        <p class="justified lead">We are trying to bring to light, the benefits of using the vedic mantras to
            lighten up your life and find solutions to your problems through the laws of
            astro-physics. We perform yajnas, mantras, etc for people who would want to heal
            themselves and their life through ancient Indian spiritualism.</p>
    </div>
     <div class="jumbotron fluid-jumbotron grid_item about_index">
        <h1 class="center_text heading_div">Gallery</h1>
         <div class="grid_div mg_auto">
             <div class="grid_item"><img src="{% static 'images/gal1.jpg' %}" alt="gallery_image" class="grid_img"></div>
             <div class="grid_item"><img src="{% static 'images/gal2.jpg' %}" alt="gallery_image" class="grid_img"></div>
             <div class="grid_item"><img src="{% static 'images/gal3.jpg' %}" alt="gallery_image" class="grid_img"></div>
             <div class="grid_item"><img src="{% static 'images/gal4.jpg' %}" alt="gallery_image" class="grid_img"></div>
             <div class="grid_item"><img src="{% static 'images/gal5.jpg' %}" alt="gallery_image" class="grid_img"></div>
             <div class="grid_item"><img src="{% static 'images/gal6.jpg' %}" alt="gallery_image" class="grid_img"></div>
             <div class="grid_item"><img src="{% static 'images/gal7.jpg' %}" alt="gallery_image" class="grid_img"></div>
             <div class="grid_item"><img src="{% static 'images/gal8.jpg' %}" alt="gallery_image" class="grid_img"></div>
             <div class="grid_item"><img src="{% static 'images/gal9.jpg' %}" alt="gallery_image" class="grid_img"></div>
         </div>
         <div class="empty_div"></div>
    </div>
    <div class="jumbotron fluid-jumbotron grid_item about_index2">
        <h1 class="center_text heading_div">Contact Us</h1>
        <p class="justified lead">Indian Vedic Foundation is a non-profit organization established in 2008
            to share traditional yajnas, spiritual wisdom, social welfare and the secrets of vedic
            science with the world. It is also registered under the Society Act 21, 1860, U.P.,
            India.</p>
        <p class="justified lead">We are trying to bring to light, the benefits of using the vedic mantras to
            lighten up your life and find solutions to your problems through the laws of
            astro-physics. We perform yajnas, mantras, etc for people who would want to heal
            themselves and their life through ancient Indian spiritualism.</p>
    </div>
</div>
</div>
{% endblock %}