{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="about_div">
<div class="container">
    <div class="">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="{% static 'images/c4.jpg' %}" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'images/c3.jpg' %}" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'images/c2.jpg' %}" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'images/c1.jpg' %}" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron fluid-jumbotron mg_bt_0 index_about">
        <h1 class="yajna_headings">About Us</h1>
        <p class="lead justified">Indian Vedic Foundation is a non-profit organization established in 2008
            to share traditional yajnas, spiritual wisdom, social welfare and the secrets of vedic
            science with the world. It is also registered under the Society Act 21, 1860, U.P.,
            India. </p>
        <p class="lead justified">We are trying to bring to light, the benefits of using the vedic mantras to
            lighten up your life and find solutions to your problems through the laws of
            astro-physics. We perform yajnas, mantras, etc for people who would want to heal
            themselves and their life through ancient Indian spiritualism.</p>
    </div>
</div>
</div>
{% endblock %}