{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="cow_div">
    <div class="yajna_headings">
        <div>Gaushala</div>
    </div>
    <div class="container cow_main_div">
        <div class="cowcover_div">
            <img src="{% static 'images/cowcover.jpg' %}" alt="" class="cow_img">
        </div>
        <h2>Donation Invites for Cow Shelter (Gaushala)</h2>
        <p>A Cowpen (Gaushala) is situated in Kanpur at Itahara farm where the cows of
            Sahiwal are being reared under a protected environment. The aim of preservation of the cows
            is to give better shelter and save the reared variety of cow Sahiwal and give them a natural
            vedic atmosphere under the mission of  Indian Vedic Foundation.</p>
        <div>
            <div>
                <div>
                    <img src="{% static 'images/cow02.jpg' %}" alt="" class="card_img2"
                         style="float: right;">
                </div>
                <h2>Cows and the Vedas</h2>
                <p class="p_div">The Vedas teach us that the cow is the personalized embodiment of <strong>Kamadhenu</strong>,
                abode to the gods and demigods, who fulfills all our wishes, blessed by the rays
                and influences of the heavenly constellations and Gods. <strong>Only the Desi Indian cows
                have that characteristic hump with a Surya Ketu Nadi, a vein that passes through
                her backbone and absorbs the sun’s rays, resulting in a golden hue to its milk,
                ghee and butter</strong>. The cow’s milk and body fluids are endowed with several salts
                that offer cures to diverse diseases of the human body. In its stature as mother
                to every living being, it also provides pleasure to all. That the cow can absorb an
                intake of poisonous food, without passing on the negative aspects of it to her milk,
                urine or dung is unbelievable; what can you attribute to this, other than divine
                intervention.  They are totally harmless and the milk is not toxic at all.
                When the urine of other animals is tested after feeding it them with a variety of
                mildly poisonous food, their urine shows traces of them, but cow's urine didn't show
                any such response. This proves that cows are the only living beings that are able to
                digest poisonous compounds too. Hence it becomes necessary to save them for mankind</p>
            </div>
        </div>
        <div class="button_div">
            <a href="#" class="donate_button">Donate Now</a>
        </div>
    </div>
</div>
{% endblock %}