{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div>
    <div class="yajna_headings">
        <div>Cow Shelter <span class="text-muted" style="font-size: 3vw;">(Gaushala)</span></div>
    </div>
    <div>
        <h2>Donation Invites for Cow Shelter (Gaushala)</h2>
        <p>A Cowpen (Gaushala) is situated in Kanpur at Itahara farm where the cows of
            Sahiwal are being reared under a protected environment. The aim of preservation of the cows
            is to give better shelter and save the reared variety of cow Sahiwal and give them a natural
            vedic atmosphere under the mission of  Indian Vedic Foundation.</p>
    </div>
</div>
{% endblock %}