{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="about_div">
    <div class="yajna_headings">Our Astrological Services</div>
    <div class="container">
        <div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 cover" src="{% static 'images/c1.jpg' %}" alt="">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100 cover" src="{% static 'images/c2.jpg' %}" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 cover" src="{% static 'images/c4.jpg' %}" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 cover" src="{% static 'images/c3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Order Basic Horoscope</h3>
            <div class="feature_text_div">Order Basic Computer Generated Horoscope
                (No Analysis, just the calculations and charts). A MUST KEEP IF YOU DO NOT
                ALREADY HAVE ONE.</div>
            <div class="lead feature_text_div">Price: $5</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Complete Vedic Astrology Analysis of the Chart</h3>
            <div class="feature_text_div">This report gives you the complete chart readings
                and all the twelve houses reading of your natal chart horoscope, in great details,
                covering all the aspects of life. This report is prepared after studying your
                varga-9 chart and all the 12 houses of the natal chart horoscope. This report also
                includes :
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Calculations of Mahadasha (Main Ruling Planet) Periods of your life</li>
                    <li class="list-group-item">Antardasha Periods (sub ruling planets periods) in current Mahadasha planet</li>
                    <li class="list-group-item">Predictions of current Antardasha and Mahadasha in detail</li>
                    <li class="list-group-item">Prediction in brief for other Antardasha</li>
                    <li class="list-group-item">Calculations of periods of all the three cycles of Saturn periods</li>
                    <li class="list-group-item">Predictions for ongoing Saturn periods (Sadhesaati) if any</li>
                    <li class="list-group-item">Manglik consideration predictions</li>
                    <li class="list-group-item">Kaalsarp Dosh consideration predictions</li>
                    <li class="list-group-item">Gem selections for your life, luck and benefic stones</li>
                    <li class="list-group-item">Favourable and auspicious selection of spouse/life partners</li>
                </ul>
            </div>
            <div class="lead feature_text_div">Price: $25</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Vedic Astrology Analysis Of Marriage
                Problems And Remedies</h3>
            <div class="feature_text_div">If there is a delay in your marriage or there are
                obstacles in you getting married or there are problems in your marriage or if you
                are facing separation/divorce or your married life is full of tensions and troubles,
                then this analysis is for you. This report looks at all the houses involved in Lagna
                and Varga charts. The report checks for Manglik Dosha as well. After a very detailed
                and exhaustive analysis, the responsible planets are identified and proper remedy
                is suggested. Please note that its not a computer generated report. All analysis is
                manually done by me.</div>
            <div class="lead feature_text_div">Price: $20</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Vedic Astrology Analysis Of Child Related
                Problems And Remedies</h3>
            <div class="feature_text_div">If there is a delay in getting a child or your child
                is having any kind of trouble or you are having troubles because of your child then
                this analysis is for you. This report looks at all the houses and charts responsible
                for children matters. After a very detailed and exhaustive analysis, the responsible
                planets are identified and proper remedy is suggested. Please note that its not a
                computer generated report. All analysis is manually done by us.</div>
            <div class="lead feature_text_div">Price: $20</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Complete Vedic Astrology Analysis of Career
                Related Issues</h3>
            <div class="feature_text_div">Are you facing obstacles in securing a job, is your
                career not going in the right direction, is your career getting stagnant, are you
                having troubles in your job, are you not getting what you deserve at work, are you
                not even sure what's the right career for you? If you have any of these questions
                then this analysis is for you. This report looks at all the houses and planets
                responsible for career related matters. The report checks for all career related
                yogas like raj yogas as well. After a very detailed and exhaustive analysis,
                favorable and unfavorable planets are identified and proper remedy is suggested.
                All analysis is manually done by Astrologer.</div>
            <div class="lead feature_text_div">Price: $20</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Vedic Astrology Analysis And Remedy Of
                Business Related Problems</h3>
            <div class="feature_text_div">Are you having trouble starting a business? Do u
                want to know if business is better for you or job? Do you already own a business
                which is not doing as expected? Then this report is for you. This report comes
                with complete analysis and appropriate remedy. This report looks at all the Planets
                and houses responsible for business and commerce based on your chart. Concerned
                planets causing the problem are identified and then proper remedy is suggested.
                Please note that its not a computer generated report. All analysis is manually
                done by us.</div>
            <div class="lead feature_text_div">Price: $20</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Vedic Astrology Analysis Of Health Issues</h3>
            <div class="feature_text_div">Are you worried about your health? Are you suffering
                from a health issue? Do u fall sick rather easily? Then this report is for you.
                This report also suggests age old and time tested remedies. This report looks at
                all the Planets and houses responsible for your bodily health based on your chart.
                Concerned planets causing the problem are identified and then proper remedy is
                suggested. Please note that its not a computer generated report. All analysis is
                manually done by us.</div>
            <div class="lead feature_text_div">Price: $20</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Muhurta</h3>
            <div class="feature_text_div">Find auspicious time for starting any activity.
                Are you planning to start a new business, a new job or you are planning to get
                married or if you are planning to start any event or activity at home or work
                then this report is for you. This report looks at all the Nakshtras (Stars and
                Constellations) based on your chart and comes up with right date and time for
                start your event or activity. Please note that it's not a computer generated
                report. All analysis is manually done by our Pandits.</div>
            <div class="lead feature_text_div">Price: $20</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Vedic Astrology Horoscope for New Babies</h3>
            <div class="feature_text_div">Whether you already have a little one at home or
                you are an expecting parent, use this free tool to determine baby's name according
                to vedic astrology, read about the traits you can expect your baby to show,
                create little baby's free chart and get a number of other important information
                like lagna sign (Ascendant, the rising sign), birth star (Nakshatra), Moon sign
                and current operating position/dasha.</div>
            <div class="lead feature_text_div">Price: $20</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Transits in Vedic Astrology</h3>
            <div class="feature_text_div">Enter your data above to know your current transit
                results. It also tells you if you are currently running Sade Satti. On the results
                page you can check the transit for any other date as well.</div>
            <div class="lead feature_text_div">Price: $20</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Manglik in Vedic Astrology</h3>
            <div class="feature_text_div">There are thousands of people in the world who are
                manglik, but still a good life. Mars has a special place in vedic astrology
                when it comes to marital affairs. Manglik is one of the most dreaded dosha in the
                vedic chart. A number of people get married late because of this dosha as it takes
                them a long time to find the match. Fortunately most of the times the native having
                Manglik Dosha doesn't have to fear anything because certain planetary positions may
                have rendered it ineffective or made it nullified. This tool will help you determine
                if you have the Manglik and if yes, then how effective it is.</div>
            <div class="lead feature_text_div">Price: $20</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Horoscope Matching</h3>
            <div class="feature_text_div">One of the many wonderful tools Vedic astrology has
                given us is "Horoscope Matching". Ancient seers devised an astrological method to
                help people choose the right partner. This involves a process of matching of the
                horoscopes of prospective bride and groom before getting them married. The following
                program takes particulars of the boy and the girl and then creates a score based on
                eight different parameters. Boy and girl getting a score of 17 + out of
                maximum possible 36 is considered a good match.</div>
            <div class="lead feature_text_div">Price: $20</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Shani Puja</h3>
            <div class="feature_text_div">
                It is believed that Shani can make a person, a king or a beggar according to the
                native's deeds (karmas). Shani (Saturn) is an indicator of longevity, misery,
                sorrow, old age and death, discipline, restriction, responsibility, delays,
                ambition, leadership and authority, humility, integrity, wisdom born of experience.
                Saturn is regarded as a planet of darkness which rules over the dark side of human
                nature, such as the conscience (awareness of right and wrong). Saturn is regarded
                to be both a giver as well as destroyer. A person who sincerely prays to Shani is
                blessed not only with removal of the problems and worries, but a life that one
                desires. Transit of Shani can cause problems from government, peers, wife, children,
                slowdown in business, loss of property and leprosy etc.
            </div>
            <div class="lead feature_text_div">Price: $301</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Know Your Mantra</h3>
            <div class="feature_text_div">
                Looking at the birth chart and then finding out the troublesome planets is the
                traditional way of doing astrological analysis. Alternatively we can also look
                at some of the life events and some of the personality traits and from there
                identify the planets responsible and then suggest remedy. Please note that this
                program only identifies an issue if any one planet is significantly affecting
                your life in a negative way.
            </div>
            <div class="lead feature_text_div">Price: $20</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <p style="font-size: 1vw;" class="yajna_headings">By placing the order you agree that you have read and understood the disclaimer.
            Due to nature of the services all sales are final and no refunds will be given.</p>
    </div>
</div>
{% endblock %}