{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="about_div">
    <div class="yajna_headings">Our Astrological Services</div>
    <div class="container">
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div"></h3>
            <div class="lead feature_text_div"></div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div"></h3>
            <div class="lead feature_text_div"></div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div"></h3>
            <div class="lead feature_text_div"></div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div"></h3>
            <div class="lead feature_text_div"></div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div"></h3>
            <div class="lead feature_text_div"></div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div"></h3>
            <div class="lead feature_text_div"></div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div"></h3>
            <div class="lead feature_text_div"></div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Muhurta</h3>
            <div class="lead feature_text_div">Find auspicious time for starting any activity.
                Are you planning to start a new business, a new job or you are planning to get
                married or if you are planning to start any event or activity at home or work
                then this report is for you. This report looks at all the Nakshtras (Stars and
                Constellations) based on your chart and comes up with right date and time for
                start your event or activity. Please note that it's not a computer generated
                report. All analysis is manually done by our Pandits.</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Vedic Astrology Horoscope for New Babies</h3>
            <div class="lead feature_text_div">Whether you already have a little one at home or
                you are an expecting parent, use this free tool to determine baby's name according
                to vedic astrology, read about the traits you can expect your baby to show,
                create little baby's free chart and get a number of other important information
                like lagna sign (Ascendant, the rising sign), birth star (Nakshatra), Moon sign
                and current operating position/dasha.</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Transits in Vedic Astrology</h3>
            <div class="lead feature_text_div">Enter your data above to know your current transit
                results. It also tells you if you are currently running Sade Satti. On the results
                page you can check the transit for any other date as well.</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Manglik in Vedic Astrology</h3>
            <div class="lead feature_text_div">There are thousands of people in the world who are
                manglik, but still lead a good life. Mars has a special place in vedic astrology
                when it comes to marital affairs. Manglik is one of the most dreaded dosha in the
                vedic chart. A number of people get married late because of this dosha as it takes
                them a long time to find the match. Fortunately most of the times the native having
                Manglik Dosha doesn't have to fear anything because certain planetary positions may
                have rendered it ineffective or made it nullified. This tool will help you determine
                if you have the Manglik and if yes, then how effective it is.</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Horoscope Matching</h3>
            <div class="lead feature_text_div">One of the many wonderful tools Vedic astrology has
                given us is "Horoscope Matching". Ancient seers devised an astrological method to
                help people choose the right partner. This involves a process of matching of the
                horoscopes of prospective bride and groom before getting them married. The following
                program takes particulars of the boy and the girl and then creates a score based on
                eight different parameters. Boy and girl getting a score of 17 + out of
                maximum possible 36 is considered a good match.</div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Shani Puja</h3>
            <div class="lead feature_text_div">
                It is believed that Shani can make a person, a king or a beggar according to the
                native's deeds (karmas). Shani (Saturn) is an indicator of longevity, misery,
                sorrow, old age and death, discipline, restriction, responsibility, delays,
                ambition, leadership and authority, humility, integrity, wisdom born of experience.
                Saturn is regarded as a planet of darkness which rules over the dark side of human
                nature, such as the conscience (awareness of right and wrong). Saturn is regarded
                to be both a giver as well as destroyer. A person who sincerely prays to Shani is
                blessed not only with removal of the problems and worries, but a life that one
                desires. Transit of Shani can cause problems from government, peers, wife, children,
                slowdown in business, loss of property and leprosy etc.
            </div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <div class="feature_box_div">
            <h3 class="faq_heading feature_head_div">Know Your Mantra</h3>
            <div class="lead feature_text_div">
                Looking at the birth chart and then finding out the troublesome planets is the
                traditional way of doing astrological analysis. Alternatively we can also look
                at some of the life events and some of the personality traits and from there
                identify the planets responsible and then suggest remedy. Please note that this
                program only identifies an issue if any one planet is significantly affecting
                your life in a negative way.
            </div>
            <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
        </div>
        <p style="font-size: 1vw;" class="lead yajna_headings">By placing the order you agree that you have read and understood the disclaimer.
            Due to nature of the services all sales are final and no refunds will be given.</p>
    </div>
</div>
{% endblock %}