{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="yajna_headings">Our Astrological Services</div>
<div>
    <div class="feature_box_div">
        <div class="feature_head_div"></div>
        <div class="feature_text_div"></div>
        <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
    </div>
    <div class="feature_box_div">
        <div class="feature_head_div"></div>
        <div class="feature_text_div"></div>
        <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
    </div>
    <div class="feature_box_div">
        <div class="feature_head_div"></div>
        <div class="feature_text_div"></div>
        <div class="feature_button_div"><button class="btn btn-success">Buy Now</button></div>
    </div>
</div>
{% endblock %}