.table_div {
    width: 100%;
    margin: 20px auto 0 auto;
}
.table_head {
    background: rgba(255,205,46,1);
}
.cover {
    height: 250px;
}
.yajna_small_headings {
    font: 3vw 'Acme';
}
.inner_charts {
    width: 80%;
}