.table_div {
    width: 100%;
    margin: 20px auto 0 auto;
}
.cover {
    height: 250px;
}
.charts_table {
    background-color: #fff;
    margin-bottom: 0;
}
.table_head {
    background-color: rgba(255,205,46,1);
    color: #454545;
}
.table_head:hover {
    text-decoration: none;
}