.yajna_headings {
    text-align: center;
    font: 4vw 'Acme';
    padding: 20px 0 10px 0;
    background-color: var(--heading-yellow);
}
.card_img_2 {
 	width: 17.8rem;
 	height: 200px;
}
.button_div {
    padding-bottom: 20px;
}
.button_div a {
    width: 10rem;
}
.card_body_div2 {
     font-weight: normal;
     background-color: #FFF;
     text-align: justify;
}
.card_text {
    height: 220px;
}