:root {
    --footer-bg-color: rgba(10,17,27,1.0);
    --main-color: rgba(242,85,0,1.0);
    --sec-main-color: rgba(255,129,0,1.0);
}
* {
	margin: 0;
	padding: 0;
}
.container-div {
    background: #fff;
    margin: auto;
}
.navigation-nav {
    background-color: var(--main-color);
    padding: 3px 0;
}
.heading_div {
    font: 5vw 'Pacifico';
}
.subheading_div {
    padding: 3px 0;
    background-color: var(--sec-main-color);
    font: bold 1.5vw 'Acme';
}
.footer_div {
    padding-bottom: 20px;
    background-color: var(--footer-bg-color);
}
.footer_text {
    text-align: center;
    margin-top: 20px;
}
.footer_text2 {
    margin-top: 0;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background: rgba(0,0,0,0) url('../images/top2.jpg') fixed no-repeat;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#myBtn:hover {
    transform: scale(1.5);
}
.disclaimer {
    font-size: 10px;
    margin: 30px 0 0 0;
}