.faq_div {
    background: rgba(243,234,219,0.8) url('../images/abstract.jpg') fixed no-repeat;
	background-size: cover;
	padding: 40px 0 20px 0;
}
.question_div {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.9);

}
.faq_heading {
    padding: 10px 0 10px 10px;
    background: linear-gradient(45deg, rgba(255,87,0,1), rgba(255,205,46,1), rgba(255,205,46,1));
}
div p {
    padding: 10px;
}