/*.body_div {
	background: rgba(249,165,30,1.0) url('../images/background.jpg') fixed no-repeat;
	background-size: cover;
}
*/
.mg_bt_0 {
    margin-bottom: 0;
}
.justified {
    text-align: justify;
}
.index_container {
    background-color: var(--white-back);
}
.grid_item {
    border: 4px solid var(--heading-yellow) !important;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}
.grid_header {
    text-transform: uppercase;
    font-size: 2vw;
}
.astro_list {
    list-style-type: none;
    padding: 10px;
}
.kundali_img {
    height: 10vw;
    width: 10vw;
}
.card_content {
    height: calc(100% - 100px);
}
.in_block {
    display: inline-block;
}
.about_index {
    background-color: rgba(249,165,30,0.8);
}
.about_index2 {
    background: rgba(249,165,30,1.0) url('../images/b3.jpg') fixed no-repeat;
    background-size: cover;
}
.grid_div {
}