/*.body_div {
	background: rgba(249,165,30,1.0) url('../images/background.jpg') fixed no-repeat;
	background-size: cover;
}
*/
.mg_bt_0 {
    margin-bottom: 0;
}
.justified {
    text-align: justify;
}
.index_about{
    background-color: var(--heading-yellow);
    color: #000;
    font-family: 'Acme';
}