/*.body_div {
	background: rgba(249,165,30,1.0) url('../images/background.jpg') fixed no-repeat;
	background-size: cover;
}
*/
.mg_bt_0 {
    margin-bottom: 0;
}
.index_head {
    font-size: 3vw;
    text-align: center;
}
.justified {
    text-align: justify;
}
.index_about{
    background-color: var();
    color: rgba(55,55,55,1);
}